* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-flow: column nowrap;
  font-family: "Roboto", sans-serif;
  background-color: #fff;
}
